@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img="https://www.google.com/search?q=movie&sxsrf=ALeKk03XbTEhN9A4MzVLVDh5M_XK_O4UhQ:1617640609437&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjn6pjvxOfvAhVSzTgGHSx5BTgQ_AUoA3oECAcQBQ&biw=1366&bih=657#imgrc=aCfCH_8ba5M_sM" />
</div>
